@model Seenit.Web.Models.PostViewModel

@{
    ViewBag.Title = "PostDetails";
}

<h2>PostDetails</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayFor(modelItem => Model.Post.Title)
        </dt>
        <dd>
            by @Html.DisplayFor(modelItem => Model.Post.Username)
            at @Html.DisplayFor(modelItem => Model.Post.PostTime)
        </dd>
        <dd>
            @Html.DisplayFor(modelItem => Model.Post.Text)
        </dd>
    </dl>
    <hr />
    <p>
        @Html.ActionLink("New Comment", "NewComment", new { id = Model.Post.ID }) |
        @Html.ActionLink("Back to Main", "Index")
    </p>
    @foreach (var item in Model.Comments)
    {
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayFor(modelItem => item.Username):
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Text)
            </dd>
        </dl>
    }

</div>

